.header {
  width: 100%;
  padding: 25px 0 25px 0;

  @include breakpoint(tablet) {
    padding: 35px 0 35px 0;
  }

  &__container {
    padding: 0 35px 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet) {
      padding: 0 60px 0 60px;
    }

    @include breakpoint(largeScreen) {
      padding: 0 120px 0 120px;
    }

    @include breakpoint(extraLargeScreen) {
      padding: 0;
      max-width: 1200px;
      margin: auto;
    }

    .logo-box {
      height: 35px;
      width: auto;

      @include breakpoint(smallScreen) {
        height: 45px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .socials {
       display: flex;
       align-items: center;
       gap: 15px;
       list-style-type: none;

       @include breakpoint(smallScreen) {
        gap: 20px;
       }

       li a {
        font-size: 2rem;
        text-decoration: none;
        color: #D4686C;

        @include breakpoint(smallScreen) {
          font-size: 2.5rem;
        }
       }
    }
  }
}